body {
    background-color: #f5f5dc; 
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #008000; 
    color: white; 
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px; 
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    overflow: auto;
}

footer {
    background-color: #008000; 
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

p {
    color: black; 
    margin-left: 120px;
    font-size: 24px; 
    max-width: 900px; 
}

ul {
    margin-left: 150px;
    list-style-position: inside; 
    max-width: 700px;
    font-size: 20px;
}

.content {
    display: flex;
    align-items: flex-start; 
    gap: 300px; 
}

.image-right {
    margin-top: 20px; /* Coboară imaginea mai jos */
    max-width: auto; /* Mărește lățimea maximă a imaginii */
    height: 200px; /* Păstrează proporțiile imaginii */
    border-radius: 8px; /* Colțuri rotunjite pentru imagine */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră pentru imagine */
}

.bottom-centered-image {
    text-align: center; /* Centrează imaginea pe orizontală */
    margin: 20px 0 60px 0;
}

.bottom-centered-image img {
    max-width: 400px; /* Dimensiunea maximă a imaginii */
    height: auto; /* Păstrează proporțiile imaginii */
    max-width: 700px;
    border-radius: 8px; /* Colțuri rotunjite pentru imagine */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră pentru imagine */
    margin-top: 100px;
    margin-bottom: 60px;
}

.centered-button {
    text-align: center; /* Centrează butonul pe orizontală */
    margin: 20px 650px; /* Adaugă spațiu deasupra și dedesubtul butonului */
}

.button {
    display: inline-block; /* Face link-ul să arate ca un buton */
    background-color: #008000; /* Culoarea de fundal a butonului */
    color: white; /* Culoarea textului */
    padding: 10px 20px; /* Spațiere internă */
    text-decoration: none; /* Elimină sublinierea */
    font-size: 18px; /* Dimensiunea textului */
    border-radius: 5px; /* Colțuri rotunjite */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră pentru buton */
    transition: background-color 0.3s ease; /* Efect de tranziție pentru hover */
}

.button:hover {
    background-color: #006400; /* Culoarea butonului la hover */
}

ol {
    margin-left: 50px;
    padding-left: 40px;
    margin-top: 50px;
    list-style-type: decimal; /* Asigură afișarea numerelor */
    color: black; /* Asigură culoarea textului */
    font-size: 16px; /* Dimensiunea textului */
}


